<section class="content-03">
    <h2 class="content-title">Data List</h2>
    <div class="list">
    	<div class="table_wrap">
    		<table width="100%">
    			<colgroup>
                    <col width="10%">
    				<col width="12.5%">
    				<col width="13%">
    				<col width="13%">
    				<col width="13%">
    				<col width="13%">
                    <col width="13%">
    				<col width="12.5%">
    			</colgroup>
    			<thead>
    				<tr>
                        <th>시간</th>
    					<th v-for="(obj,idx) in bus.units" v-html="obj.name" />
    				</tr>
    			</thead>
    			<tbody>
    				<tr v-for="n in 100">
                        <td v-html="bus.graphLen - n" />
    					<td v-for="(obj,idx) in bus.units" v-html="bus.graphData[idx].scores[bus.graphLen - n] + obj.unit" />
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</section>