<section class="content-01">
    <h2 class="content-title">Now Information</h2>
    <ul>
        <li v-for="(obj,idx) in bus.units">
            <div>
                <strong v-html="obj.name" class="dvc_name" />
                <div class="state">
                    <div :class="'cycle '+getColor(bus.nowData[idx])"></div>
                    <div class="score">
                        <span>Score</span>
                        <strong v-html="bus.nowData[idx] + '<span>'+obj.unit+'</span>'" />
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>